<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-dark dark-sidebar-color logo-dark dark-theme">
  <app-dashboard-header></app-dashboard-header>
  <!-- Dashbord Content Goes Here {It is different from other Dash} -->
  <div class="page-container">
    <!-- start sidebar menu -->
    <div class="sidebar-container">
      <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll">
          <!-- Navigation SideBar Starts -->
          <app-nurse-side-bar-navigation></app-nurse-side-bar-navigation>
          <!-- Navigation SideBar Ends -->
        </div>
      </div>
    </div>
    <!-- end sidebar menu -->
    <!-- start page content -->
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="page-bar">
          <div class="page-title-breadcrumb">
            <div class="pull-left">
              <!-- <div class="page-title">Add Patient</div> -->
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
              <li>
                <i class="fa fa-home"></i>&nbsp;
                <a class="parent-item" [routerLink]="['/nurse/dash']">Home</a>&nbsp;
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a class="parent-item" href="#">Patients</a>&nbsp;
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="active">Add Vital Sign</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card card-box">
              <div class="card-head">
                <header>Add Vital Sign</header>
                <button id="panel-button" class="mdl-button mdl-js-button
                                    mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                  <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right
                                    mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                  <li class="mdl-menu__item">
                    <i class="material-icons">assistant_photo</i>Action</li>
                  <li class="mdl-menu__item">
                    <i class="material-icons">print</i>Another action
                  </li>
                  <li class="mdl-menu__item">
                    <i class="material-icons">favorite</i>Something else here</li>
                </ul>
              </div>
              <div class="card-body" id="bar-parent">
                <div class="form-body form-group">

                  <div class="form-group row">
                    <label class="control-label
                                                col-md-3">Vital Sign
                      <span class="required"> *
                      </span>
                    </label>
                    <div class="col-md-5">
                      <textarea row="5" type="name" class="form-control
                                                        input-height" [(ngModel)]="vitalSign" placeholder="Write patient vital sign here"></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="control-label
                                                  col-md-3">Blood Pressure
                      <span class="required"> *
                      </span>
                    </label>
                    <div class="col-md-5">
                      <input type="number" class="form-control
                                                          input-height" [(ngModel)]="bloodPressureSystolic" mix="70" max="190" placeholder="Blood Pressure Here ( Systolic ) ">
                      <br/>
                      <input type="number" class="form-control
                                                          input-height" [(ngModel)]="bloodPressureDiastolic" mix="40" max="100" placeholder="Blood Pressure Here ( Diastolic ) ">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="control-label
                                                    col-md-3">Hemoglobin
                      <span class="required"> *
                      </span>
                    </label>
                    <div class="col-md-5">
                      <input type="number" class="form-control
                                                            input-height" min="12.0" max="17.5" [(ngModel)]="hemoglobin" placeholder="Hemoglobin Here (grams per deciliter)">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="control-label
                                                    col-md-3">Mass (Weight)
                      <span class="required"> *
                      </span>
                    </label>
                    <div class="col-md-5">
                      <input type="number" class="form-control
                                                            input-height" [(ngModel)]="mass" placeholder="Weight Here (Kilogram)">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="control-label
                                                    col-md-3">Temprature
                      <span class="required"> *
                      </span>
                    </label>
                    <div class="col-md-5">
                      <input type="number" class="form-control
                                                            input-height"  [(ngModel)]="temprature" placeholder="Body Temprature Here (Degree Celsius)">
                    </div>
                  </div>

                  <div class="form-actions">
                    <div class="row">
                      <div class="offset-md-3
                                                    col-md-9">
                        <button type="submit" class="btn btn-success" (click)="takeVitalSign()">Save</button>
                        <button type="button" class="btn btn-warning" [routerLink]="['/nurse/dash']">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page content -->
  </div>
</div>