<header class="header clearfix">
  <!-- Header Top Start -->
  <div class="h-top clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="h-left">
            <p><span><i aria-hidden="true" class="fa fa-clock-o"></i> OPENED ON WEEKDAYS FROM</span> 8:30 AM TO 6:30 PM</p>
          </div>
        </div>
        <div class="col-sm-8 col-md-8">
          <div class="h-right">
            <!-- History Policy Start -->
            <div class="h-history-policy clearfix">
              <div class="burger hidden-lg">
                <a><span></span> <span></span> <span></span></a>
              </div>
              <ul>
                <li>
                  <a href="#">History</a>
                </li>
                <li>
                  <a href="#">Careers</a>
                </li>
                <li>
                  <a href="#">News</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
              </ul>
            </div><!-- History Policy End -->
            <!-- Login-Register Start -->
            <div class="h-login-register clearfix" *ngIf="auth.isLoggedIn();else other">
                Guest, User    <a class="hidden-xs" (click)="logout()">logout</a> <a class="visible-xs" ><i aria-hidden="true"></i></a>
            </div><!-- Login-Register End -->
            <ng-template #other>
                <div class="h-login-register clearfix" >
                    <a class="hidden-xs" [routerLink]="['/login']">Login</a> <a class="visible-xs" ><i aria-hidden="true" class="fa fa-sign-in"></i></a>
                  </div>
            </ng-template>
          </div><!--/.h-right-->
        </div><!--/.col-sm-8 col-md-8"-->
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!-- Header Top End -->
  <!-- Header Bottom Start -->
  <div class="h-bottom clearfix">
    <div class="container">
      <div class="navigation-menu">
        <div class="navbar yamm navbar-default">
          <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']"><img alt="" class="hidden-xs hidden-sm" src="./assets/front/images/logo-new.png"> <img alt="" class="visible-xs visible-sm" src="./assets/front/images/mobile-logo.png"></a>
          </div><!-- Desktop Navigation List Start -->
          <div class="navbar-collapse collapse hidden-xs" id="navbar-collapse-1">
            <div class="background"></div>
            <ul class="nav navbar-nav">
              <li><a [routerLink]="['/home']">HOME</a></li>
              <li class="dropdown yamm-fw">
									<a class="dropdown-toggle">SERVICES</a>
									<ul class="dropdown-menu">
										<li>
											<!-- Content container to add padding -->
											<div class="yamm-content">
												<div class="row">
													<ul class="col-md-3 list-unstyled">
														<li>
															<a class="mega-menu-title" href="#">CATEGORY 1</a>
														</li>
														<li>
															<a href="#">General & Preventive Care</a>
														</li>
														<li>
															<a href="#">Cosmetic Solutions</a>
														</li>
														<li>
															<a href="#">Restorative Solutions</a>
														</li>
													</ul><!--/.col-md-3-->
													<ul class="col-md-3 list-unstyled">
														<li>
															<a class="mega-menu-title" href="#">CATEGORY 2</a>
														</li>
														<li>
															<a href="#">Additional Treatments</a>
														</li>
														<li>
															<a href="#">Orthodontics</a>
														</li>
														<li>
															<a href="#">Dentures & Denture Repair</a>
														</li>
													</ul><!--/.col-md-3-->
													<ul class="col-md-3 list-unstyled">
														<li>
															<a class="mega-menu-title" href="#">CATEGORY 3</a>
														</li>
														<li>
															<a href="#">Diagnostic & Preventive</a>
														</li>
														<li>
															<a href="#">Pediatric Dentistry</a>
														</li>
														<li>
															<a href="#">Phisiotheraphy</a>
														</li>
													</ul><!--/.col-md-3-->
													<ul class="col-md-3 list-unstyled">
														<li>
															<a class="mega-menu-title" href="#">CATEGORY 4</a>
														</li>
														<li>
															<a href="#">Minor surgery</a>
														</li>
														<li>
															<a href="#">Allergy / Immunology</a>
														</li>
														<li>
															<a href="#">Flu vaccination</a>
														</li>
													</ul><!--/.col-md-3-->
												</div><!--/.row-->
											</div><!--/.yamm-content-->
										</li>
									</ul><!--/.dropdown-menu-->
								</li><!--/.dropdown yamm-fw active-->
              <li><a>TIMETABLE</a></li>
              <li><a [routerLink]="['/blog']">BLOG</a></li>
              <li><a [routerLink]="['/shop']">SHOP</a></li>
              <li><a [routerLink]="['/contact']">CONTACT</a></li>
            </ul><!--/.nav navbar-nav-->
          </div><!-- Desktop Navigation List End -->
          <!-- Mobile Navigation List Start -->
          <div class="dl-menuwrapper visible-xs" id="dl-menu">
            <button class="dl-trigger">Open Menu</button>
            <div class="background"></div>
            <ul class="dl-menu">
                <li><a [routerLink]="['/']">HOME</a></li>
                <li class="dropdown yamm-fw">
                    <a class="dropdown-toggle">SERVICES</a>
                    <ul class="dropdown-menu">
                      <li>
                        <!-- Content container to add padding -->
                        <div class="yamm-content">
                          <div class="row">
                            <ul class="col-md-3 list-unstyled">
                              <li>
                                <a class="mega-menu-title" href="#">CATEGORY 1</a>
                              </li>
                              <li>
                                <a href="#">General & Preventive Care</a>
                              </li>
                              <li>
                                <a href="#">Cosmetic Solutions</a>
                              </li>
                              <li>
                                <a href="#">Restorative Solutions</a>
                              </li>
                            </ul><!--/.col-md-3-->
                            <ul class="col-md-3 list-unstyled">
                              <li>
                                <a class="mega-menu-title" href="#">CATEGORY 2</a>
                              </li>
                              <li>
                                <a href="#">Additional Treatments</a>
                              </li>
                              <li>
                                <a href="#">Orthodontics</a>
                              </li>
                              <li>
                                <a href="#">Dentures & Denture Repair</a>
                              </li>
                            </ul><!--/.col-md-3-->
                            <ul class="col-md-3 list-unstyled">
                              <li>
                                <a class="mega-menu-title" href="#">CATEGORY 3</a>
                              </li>
                              <li>
                                <a href="#">Diagnostic & Preventive</a>
                              </li>
                              <li>
                                <a href="#">Pediatric Dentistry</a>
                              </li>
                              <li>
                                <a href="#">Phisiotheraphy</a>
                              </li>
                            </ul><!--/.col-md-3-->
                            <ul class="col-md-3 list-unstyled">
                              <li>
                                <a class="mega-menu-title" href="#">CATEGORY 4</a>
                              </li>
                              <li>
                                <a href="#">Minor surgery</a>
                              </li>
                              <li>
                                <a href="#">Allergy / Immunology</a>
                              </li>
                              <li>
                                <a href="#">Flu vaccination</a>
                              </li>
                            </ul><!--/.col-md-3-->
                          </div><!--/.row-->
                        </div><!--/.yamm-content-->
                      </li>
                    </ul><!--/.dropdown-menu-->
                </li><!--/.dropdown yamm-fw active-->
                <li><a>TIMETABLE</a></li>
                <li><a [routerLink]="['/blog']">BLOG</a></li>
                <li><a [routerLink]="['/shop']">SHOP</a></li>
                <li><a [routerLink]="['/contact']">CONTACT</a></li>
            </ul><!--/.dl-menu-->
          </div><!-- /dl-menuwrapper -->
          <!-- Mobile Navigation List End -->
          <!-- Cart Right Start -->
          <div class="cart-right">
            <a class="phone-btn" href="#"><i aria-hidden="true" class="fa fa-phone"></i>+251 911-94-8745</a>
            <div class="header-cart">
              <a class="headercartbtn" href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i> <span>0</span></a>
              <div class="cart-down-panel">
                <ul class="cart-list">
                  <li class="mini-cart-item">
                    <button aria-label="Close" class="close" type="button"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="mini-cart-image"><img alt="" class="img-responsive" src="./assets/front/images/mini-cart-img.jpg"></div>
                      </div>
                      <div class="col-xs-8 col-sm-8 col-md-8 pad-left">
                        <div class="mini-cart-detail">
                          <a href="#">Oven Roasted duck with special sousage</a>
                        </div>
                      </div><!--/.col-xs-8 col-sm-8 col-md-8 pad-left-->
                    </div><!--/.row-->
                  </li><!--/.mini-cart-item-->
                </ul><!--/.cart-list-->
                <div class="total">
                  <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="total-left">
                        <p>subtotal</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="total-right">
                        <p>$35</p>
                      </div>
                    </div><!--/.col-sm-6 col-md-6-->
                  </div><!--/.row"-->
                </div><!--/.total-->
                <div class="mini-cart-btn">
                  <a class="btn btn-default view-cart" [routerLink]="['/cart']">view cart</a> <a class="btn btn-simple checkout" href="#">checkout</a>
                </div><!--/.mini-cart-btn-->
              </div><!--/.cart-down-panel-->
            </div><!--/.header-cart-->
          </div><!-- Cart Right End -->
        </div><!--/.navbar yamm navbar-default-->
      </div><!--/.navigation-menu-->
    </div><!--/.container-->
  </div><!-- Header Bottom End -->
</header><!-- Header End -->
