<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-dark dark-sidebar-color logo-dark dark-theme">
    <app-dashboard-header></app-dashboard-header>
    <!-- Dashbord Content Goes Here {It is different from other Dash} -->
    <div class="page-container">
        <!-- start sidebar menu -->
        <div class="sidebar-container">
            <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                <div id="remove-scroll">
                    <!-- Navigation SideBar Starts -->
                    <app-sidebarnavigation-admin></app-sidebarnavigation-admin>
                    <!-- Navigation SideBar Ends -->
                </div>
            </div>
        </div>
        <!-- end sidebar menu -->
        <!-- start page content -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <div class="pull-left">
                            <div class="page-title">Add Department</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li>
                                <i class="fa fa-home"></i>&nbsp;
                                <a class="parent-item" href="">Home</a>&nbsp;
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a class="parent-item" href="">Nurse</a>&nbsp;
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">Add</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card card-box">
                            <div class="card-head">
                                <header>Doctor Information</header>
                                <button id="panel-button" class="mdl-button mdl-js-button
                                    mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right
                                    mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                                    <li class="mdl-menu__item">
                                        <i class="material-icons">assistant_photo</i>Action</li>
                                    <li class="mdl-menu__item">
                                        <i class="material-icons">print</i>Another action
                                    </li>
                                    <li class="mdl-menu__item">
                                        <i class="material-icons">favorite</i>Something else here</li>
                                </ul>
                            </div>
                            <div class="card-body" id="bar-parent">
                                    <div class="form-body" >
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">First Name
                                                <span class="required"> *
                                                </span>
                                            </label>
                                            <div class="col-md-5">
                                                <input [(ngModel)]="firstname" type="text" name="firstname" data-required="1" placeholder="enter first name" class="form-control
                                                    input-height" /> </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">Last Name
                                                <span class="required"> *
                                                </span>
                                            </label>
                                            <div class="col-md-5">
                                                <input [(ngModel)]="lastname" type="text" name="lastname" data-required="1" placeholder="enter last name" class="form-control
                                                    input-height" /> </div>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">Email
                                            </label>
                                            <div class="col-md-5">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa
                                                            fa-envelope"></i>
                                                    </span>
                                                    <input [(ngModel)]="email" type="text" class="form-control
                                                        input-height" name="email" placeholder="Email
                                                        Address" [email]="true"> </div>
                                            </div>
                                        </div> -->
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">Password
                                                <span class="required"> *
                                                </span>
                                            </label>
                                            <div class="col-md-5">
                                                <input [(ngModel)]="password" type="password" name="pswd" data-required="1" placeholder="enter Password" class="form-control
                                                    input-height" /> </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">Designation
                                                <span class="required"> *
                                                </span>
                                            </label>
                                            <div [(ngModel)]="designation" class="col-md-5">
                                                <input type="text" name="designation" data-required="1" placeholder="enter your designation" class="form-control
                                                    input-height" /> </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">Departments
                                                <span class="required"> *
                                                </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select [(ngModel)]="department" class="form-control
                                                    input-height" name="department">
                                                    <option value="" disabled>Select...</option>
                                                    <option value="Neurology">Neurology</option>
                                                    <option value="Orthopedics">Orthopedics</option>
                                                    <option value="Gynaecology">Gynaecology</option>
                                                    <option value="Microbiology">Microbiology</option>
                                                    <option value="Radiotherapy">Radiotherapy</option>
                                                    <option value="Pharmacy">Pharmacy</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">Gender
                                                <span class="required"> *
                                                </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select [(ngModel)]="gender" class="form-control
                                                    input-height" name="gender">
                                                    <option value="">Select...</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">Mobile No.
                                                <span class="required"> *
                                                </span>
                                            </label>
                                            <div class="col-md-5">
                                                <input [(ngModel)]="phone"  name="phone" type="text" placeholder="mobile number" class="form-control
                                                    input-height" /> </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">Address
                                                <span class="required"> *
                                                </span>
                                            </label>
                                            <div class="col-md-5">
                                                <textarea [(ngModel)]="address" name="address" placeholder="address" class="form-control-textarea" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label
                                                col-md-3">username
                                            </label>
                                            <div class="col-md-5">
                                                <input [(ngModel)]="username"  name="phone" type="text" placeholder="mobile number" class="form-control
                                                    input-height" />
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="offset-md-3
                                                    col-md-9">
                                                    <button class="btn btn-info" (click)="addDoctor()">Save</button>
                                                    <button type="button" class="btn btn-default" [routerLink]="['/admin/dash']">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>