<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-dark dark-sidebar-color logo-dark dark-theme">
  <app-dashboard-header></app-dashboard-header>
  <!-- Dashbord Content Goes Here {It is different from other Dash} -->
  <div class="page-container">
    <!-- start sidebar menu -->
    <div class="sidebar-container">
      <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll">
          <!-- Navigation SideBar Starts -->
          <app-receptionistsidebarnavigation></app-receptionistsidebarnavigation>
          <!-- Navigation SideBar Ends -->
        </div>
      </div>
    </div>
    <!-- end sidebar menu -->
    <!-- start page content -->
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="page-bar">
          <div class="page-title-breadcrumb">
            <div class="pull-left">
              <!-- <div class="page-title">Add Appointment</div> -->
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
              <li>
                <i class="fa fa-home"></i>&nbsp;
                <a class="parent-item" [routerLink]="['/receptionsit/dash']">Home</a>&nbsp;
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a class="parent-item"
                  [routerLink]="['/receptionist/appointments']">Appointment</a>&nbsp;
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="active">Add</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card card-box">
              <div class="card-head">
                <header>Add Appointment</header>
                <button id="panel-button" class="mdl-button mdl-js-button
                  mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                  <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right
                  mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                  <li class="mdl-menu__item">
                    <i class="material-icons">assistant_photo</i>Action</li>
                  <li class="mdl-menu__item">
                    <i class="material-icons">print</i>Another action
                  </li>
                  <li class="mdl-menu__item">
                    <i class="material-icons">favorite</i>Something else here</li>
                </ul>
              </div>
              <div class="card-body" id="bar-parent">
                <form action="#" id="form_sample_1" class="form-horizontal">
                  <div class="form-body">
                    <div class="form-group row">
                      <label class="control-label
                        col-md-3">Date
                        <span class="required"> *
                        </span>
                      </label>
                      <div class="col-md-5">
                        <input type="date" name="appointment_date" [(ngModel)]="selectedDate" data-required="1"
                          placeholder="Choose Appointment Date" class="form-control
                          input-height" /> </div>
                    </div>
                    <div class="form-group row">
                      <label class="control-label
                        col-md-3">Doctor
                        <span class="required"> *
                        </span>
                      </label>
                      <div class="col-md-5">
                          <select class="form-control
                          input-height" name="appointmentDoctorList" [(ngModel)]="selectedDoctor">
                            <option  value="">Select Doctor</option>
                            <option  *ngFor="let doctorsDisplay of doctors" [ngValue]="doctorsDisplay">{{doctorsDisplay.firstname}} {{doctorsDisplay.lastName }}</option>
                        </select>  
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="control-label
                        col-md-3">Patient
                        <span class="required"> *
                        </span>
                      </label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <span class="input-group-addon">
                            
                          </span>
                          <select class="form-control
                            input-height" name="appointmentPatientList" [(ngModel)]="selectedPatient">
                            <option  value="">Select Patient</option>
                            <option  *ngFor="let patientDisplay of patients | async;" [ngValue]="patientDisplay">{{patientDisplay.firstname}} {{patientDisplay.lastName }}</option>
                          </select>  
                        </div>
                        <div>
                          <ngx-flash-messages></ngx-flash-messages>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions">
                      <div class="row">
                        <div class="offset-md-3
                          col-md-9">
                          <button class="btn btn-info" (click)="addAppointment()">Save</button>
                          <button type="button" class="btn btn-warning"
                            [routerLink]="['/receptionist/appointments']">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page content -->
  </div>
</div>