<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-dark dark-sidebar-color logo-dark dark-theme">
    <app-dashboard-header></app-dashboard-header>
    <!-- Dashbord Content Goes Here {It is different from other Dash} -->
    <div class="page-container">
      <!-- start sidebar menu -->
      <div class="sidebar-container">
        <div class="sidemenu-container navbar-collapse collapse fixed-menu">
          <div id="remove-scroll">
            <!-- Navigation SideBar Starts -->
            <app-nurse-side-bar-navigation></app-nurse-side-bar-navigation>
            <!-- Navigation SideBar Ends -->
          </div>
        </div>
      </div>
      <!-- end sidebar menu -->
      <!-- start page content -->
      <div class="page-content-wrapper">
        <div class="page-content">
          <div class="page-bar">
            <div class="page-title-breadcrumb">
              <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                  <i class="fa fa-home"></i>&nbsp;
                  <a class="parent-item" [routerLink]="['/nurse/dash']">Home</a>&nbsp;
                  <i class="fa fa-angle-right"></i>
                </li>
                <li>
                  <a class="parent-item" href="">Allotment</a>&nbsp;
                  <i class="fa
                    fa-angle-right"></i>
                </li>
                <li class="active">List</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="card card-box">
                <div class="card-head">
                  <header>Allotment List</header>
                  <div class="tools">
                    <a class="fa fa-repeat btn-color
                      box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa
                      fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                  </div>
                </div>
                <div class="card-body no-padding height-9">
                  <div class="table-responsive">
                    <table class="table table-striped
                      table-bordered table-hover
                      table-checkable order-column" id="example4">
                      <thead>
                        <tr>
                          <th>
                            <label class="rt-chkbox
                              rt-chkbox-single
                              rt-chkbox-outline">
                              <input type="checkbox" class="group-checkable"
                                data-set="#sample_1
                                .checkboxes" />
                              <span></span>
                            </label>
                          </th>
                          <th>Bed Number</th>
                          <th>Bed Type</th>
                          <th>Patient</th>
                          <th>Allotment Time</th>
                          <th>Discharge Time</th>
                          <th>Options</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd gradeX" *ngFor="let bedsDisplay
                          of beds | async;">
                          <td>
                            <label class="rt-chkbox
                              rt-chkbox-single
                              rt-chkbox-outline">
                              <input type="checkbox" class="checkboxes" value="1"
                                />
                              <span></span>
                            </label>
                          </td>
                          <td> {{bedsDisplay.bedNumber}} </td>
                          <td>
                            {{bedsDisplay.bedType}}
                          </td>
                          <td class="center"> {{bedsDisplay.patientFirstName}} {{bedsDisplay.patientLastName}}
                          </td>
                          <td class="center"> {{bedsDisplay.allotmentTime}}</td>
                          <td class="center"> {{bedsDisplay.dischargeTime}}</td>
                          <td class="center">
                            <div class="btn-group">
                              <button class="btn
                                btn-xs btn-danger
                                dropdown-toggle
                                no-margin" type="button" data-toggle="dropdown"
                                aria-expanded="false">
                                Options
                                <i class="fa
                                  fa-angle-down"></i>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li>
                                  <a (click)="removeBed(bedsDisplay)">
                                    <i class="fa fa-bed"></i>
                                    Discharge
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <!-- end page content -->
    </div>