<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-dark dark-sidebar-color logo-dark dark-theme">
  <app-dashboard-header></app-dashboard-header>
  <!-- Dashbord Content Goes Here {It is different from other Dash} -->
  <div class="page-container">
    <!-- start sidebar menu -->
    <div class="sidebar-container">
      <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll">
          <!-- Navigation SideBar Starts -->
          <app-doctor-side-bar-navigation></app-doctor-side-bar-navigation>>
          <!-- Navigation SideBar Ends -->
        </div>
      </div>
    </div>
    <!-- start page content -->
    <!-- start page content -->
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="page-bar">
          <div class="page-title-breadcrumb">
            <div class=" pull-left">
              <div class="page-title">Patient Profile</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
              <li>
                <i class="fa fa-home"></i>&nbsp;
                <a class="parent-item" href="index.html">Home</a>&nbsp;
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a class="parent-item" href="">Patients</a>&nbsp;
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="active">Patient Profile</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="white-box">
              <div class=" cardbox patient-profile">
                <img src="/profiles/patientPhotos/patient.jpg" class="img-responsive" alt="">
              </div>
              <div class="cardbox">
                <div class="header">
                  <h4 class="font-bold">ABOUT PATIENT</h4>
                </div>
                <div class="body">
                  <div class="user-btm-box">
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r">
                        <strong>Name</strong>
                        <p>{{firstName}} {{lastName}}</p>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                        <strong>Gender</strong>
                        <p>{{gender}}</p>
                      </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r">
                        <strong>Age</strong>
                        <p>{{age}}</p>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                        <strong>Phone</strong>
                        <p>{{phone}}</p>
                      </div>
                    </div>
                    <!-- /.row -->
                    <!-- <hr> -->
                    <!-- .row -->
                    <!-- <div class="row text-center m-t-10">
                      <div class="col-md-12">
                        <strong>Address</strong>
                        <p>345, Sarju Appt., Mota Varacha, Surat
                          <br> Gujarat, India.</p>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-xs-12">
            <div class="cardbox">
              <div class="body">
                <div class="mypost-list">
                  <div class="post-box">
                    <h4 class="font-bold">Vital Sign</h4>
                    <p>{{vitalSign}}</p>
                  </div>
                  <hr>
                  <div class="post-box">
                    <h4 class="font-bold">General Report</h4>
                    <hr>

                    <h5 *ngIf="bloodPressureSystolic && bloodPressureDiastolic">Blood Pressure
                      <span class="pull-right">{{bloodPressureSystolic}} / {{bloodPressureDiastolic}}</span>
                    </h5>
                    <div class="progress" *ngIf="bloodPressureSystolic && bloodPressureDiastolic">
                      <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" [style.width]="(bloodPressureSystolic+bloodPressureDiastolic)"
                        aria-valuemin="110" aria-valuemax="290">
                        <span class="sr-only">{{bloodPressureSystolic}} / {{bloodPressureDiastolic}}</span>
                      </div>
                    </div>
                    <h5 *ngIf="hemoglobin">Haemoglobin
                      <span class="pull-right">{{hemoglobin}}</span>
                    </h5>
                    <div class="progress" *ngIf="hemoglobin">
                      <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" [style.width]="hemoglobin" aria-valuemin="12.5"
                        aria-valuemax="29.5">
                        <span class="sr-only">{{hemoglobin}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card card-topline-purple">
                          <div class="card-head">
                            <header>Past Visit History</header>
                          </div>
                          <div class="card-body ">
                            <p>{{operationReportHistory}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end page content -->
    </div>
  </div>
</div>