<ul class="sidemenu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
  <li class="sidebar-toggler-wrapper hide">
    <div class="sidebar-toggler">
      <span></span>
    </div>
  </li>
  <li class="sidebar-user-panel">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="./assets/dashboard/img/profile/Doctor_Male.png" class="img-circle
          user-img-circle" alt="User Image" />
      </div>
      <div class="pull-left info" id="usernameNav">
        <p> {{username}}</p>
      </div>
    </div>
  </li>
  <!-- Dashboard Goes Here -->
  <li class="nav-item">
    <a [routerLink]="['/doctor/dash']" class="nav-link">
      <i class="fa fa-desktop"></i>
      <span class="title">Dashboard</span>
    </a>
  </li>
  <!-- Dashboard Ends -->

  <!-- Manage Appointment Here -->
  <li class="nav-item active">
    <a class="nav-link">
      <i class="fa fa-clipboard"></i>
      <span class="title">Appointments</span>
      <span class="arrow open"></span>
      <span class="label label-rouded label-menu
        deepPink-bgcolor">{{(appointments | async)?.length}}</span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item">
        <a class="nav-link" (click)="approvedAppointments()">
          <span class="title">Appointments</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" (click)="pendingAppointments()">
          <span class="title">Requested Appointments</span>
        </a>
      </li> -->
    </ul>
  </li>
  <!-- Manage Appointment Ends -->

  <!-- Manage Prescription Here -->
  <li class="nav-item active">
    <a class="nav-link">
      <i class="fa fa-heartbeat"></i>
      <span class="title">Presecription</span>
      <span class="arrow open"></span>
      <span class="label label-rouded label-menu
        deepPink-bgcolor">{{(prescription | async)?.length}}</span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item">
        <a class="nav-link" (click)="prescriptionList()">
          <span class="title">Presecription List</span>
        </a>
      </li>
    </ul>
  </li>
  <!-- Manage Prescription Ends -->

  <!-- Patient Goes Here -->
  <li class="nav-item active">
    <a (click)="getPatients()" class="nav-link nav-toggle">
      <i class="fa fa-user"></i>
      <span class="title">Patients</span>
      <span class="selected"></span>
      <span class="label label-rouded label-menu
        deepPink-bgcolor">{{(patients | async)?.length}}</span>
    </a>
  </li>
  <!-- Patient Ends -->


  <!-- Bed Goes Here -->
  <li class="nav-item active">
    <a class="nav-link">
      <i class="fa fa-bed"></i>
      <span class="title">Bed</span>
      <span class="arrow open"></span>
      <span class="label label-rouded label-menu
        deepPink-bgcolor">{{(bedAllotments | async)?.length}}</span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/doctor/beds/allotment/add']">
          <span class="title">Add Allotment</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/doctor/beds/allotment']" class="nav-link">
          <span class="title">Bed Allotment</span>
        </a>
      </li>
    </ul>
  </li>
  <!-- Bed Ends -->

  <!-- Reports Goes Here -->
  <li class="nav-item active">
    <a class="nav-link">
      <i class="fa fa-plus-square"></i>
      <span class="title">Report</span>
      <span class="arrow open"></span>

    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a [routerLink]="['/doctor/operationReports/add']" class="nav-link">
              <span class="title">Add Operation  Report</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/doctor/operationReports']" class="nav-link">
              <span class="title">Operation Report</span>
            </a>
          </li>
      <li class="nav-item">
        <a [routerLink]="['/doctor/birthReports/add']" class="nav-link">
          <span class="title">Add Birth Report</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/doctor/birthReports']" class="nav-link">
          <span class="title">Birth Report</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/doctor/deathReports/add']" class="nav-link">
          <span class="title">Add Death Report</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/doctor/deathReports']" class="nav-link">
          <span class="title">Death Report</span>
        </a>
      </li>

    </ul>
  </li>
  <!-- Report Ends Here -->

</ul>