<!-- Back To Top Start -->
<div class="back-to-top clearfix">
  <a href="#"><span><i aria-hidden="true" class="fa fa-chevron-up"></i> Top</span></a>
</div><!-- Back To Top End -->


<!-- Footer Start -->
<footer class="footer clearfix">
  <div class="container">
    <!-- Footer Top Start -->
    <div class="f-top clearfix">
      <!-- F-Widget Start -->
      <div class="f-widget clearfix">
        <div class="row">
          <div class="col-sm-6 col-md-3 widget-block">
            <h6>MEDNET</h6><!-- Medlife Start -->
            <div class="medlife-block">
              <p>Well Experienced Health Consultant</p>
            </div><!-- Medlife End -->
          </div><!--/.col-sm-6 col-md-3-->
          
          <div class="col-sm-6 col-md-3 widget-block">
            <h6>Navigations</h6><!-- Medlife Start -->
            <div class="pages-block clearfix">
              <div class="col-xs-6 col-sm-6 col-md-6 padding">
                <ul>
                  <li>
                    <a [routerLink]="['/']">Home</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blog']">Blog</a>
                  </li>
                  <li>
                    <a [routerLink]="['/shop']">Shop</a>
                  </li>
                </ul>
              </div><!--/.col-xs-6 col-sm-6-->
            </div><!-- Medlife End -->
          </div><!--/.-->
          <div class="col-sm-6 col-md-3 widget-block">
            <h6>RECENT NEWS</h6><!-- Medlife Start -->
            <div class="recent-news-block">
              <a class="view-all" href="#">VIEW ALL</a> <!-- News Block Start -->
              <div class="news-block">
                <a [routerLink]="['/blog']">Ultrasmall nanoparticles kill cancer cells in unusual way</a>
                <p><i aria-hidden="true" class="fa fa-clock-o"></i> September 30, 2016</p>
              </div>
              <div class="news-block">
                <a [routerLink]="['/blog']">Ultrasmall nanoparticles kill cancer cells in unusual way</a>
                <p><i aria-hidden="true" class="fa fa-clock-o"></i> September 30, 2016</p>
              </div><!-- News Block End -->
            </div><!-- Medlife End -->
          </div><!--/.col-sm-6 col-md-3-->
          <div class="col-sm-6 col-md-3 widget-block">
            <h6>NEWSLETTER</h6><!-- Medlife Start -->
            <div class="news-letter-block">
              <p>Recieve our latest news straight to your inbox</p>
              <form action="//YOUR_USERNAME.DATASERVER.list-manage.com/subscribe/post?u=YOUR_API_KEY&id=LIST_ID" class="md__newsletter-form" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                <input class="email form-control" name="EMAIL" placeholder="Email address" required="" type="email" value="">
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  <input name="b_78185f3823fef6dc6a261e0df_2ebd195299" tabindex="-1" type="text" value="">
                </div><button class="btn btn-primary" id="mc-embedded-subscribe2" name="SEND" type="submit">Subscribe</button>
                <div class="md__newsletter-message"></div>
              </form>
            </div><!-- Medlife End -->
          </div><!--/.col-sm-6 col-md-3-->
        </div><!--/.row-->
      </div><!-- F-Widget End -->
    </div><!-- Footer Top End -->
    <!-- Footer Bottom Start -->
    <div class="f-bottom clearfix">
      <p>Made ♥ by mednet.com © 2018 AAIT - All rights reserved.</p>
      <div class="f-social-icons clearfix">
        <ul>
          <li>
            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div><!--/.f-social-icons-->
    </div><!-- Footer Bottom End -->
  </div><!--/.container-->
</footer><!-- Footer End -->