<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-dark dark-sidebar-color logo-dark dark-theme">
	<app-dashboard-header></app-dashboard-header>
	<!-- Dashbord Content Goes Here {It is different from other Dash} -->
	<div class="page-container">
		<!-- start sidebar menu -->
		<div class="sidebar-container">
			<div class="sidemenu-container navbar-collapse collapse fixed-menu">
				<div id="remove-scroll">
					<!-- Navigation SideBar Starts -->
					<app-sidebarnavigation-admin></app-sidebarnavigation-admin>
					<!-- Navigation SideBar Ends -->
				</div>
			</div>
		</div>
		<!-- end sidebar menu -->
		<!-- start page content -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="page-bar">
					<div class="page-title-breadcrumb">
						<div class=" pull-left">
							<div class="page-title">Departments</div>
						</div>
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li>
								<i class="fa fa-home"></i>&nbsp;
								<a class="parent-item" href="">Home</a>&nbsp;
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								<a class="parent-item active" href="">Departments</a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="tabbable-line">
							<!-- <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab1" data-toggle="tab"> List View </a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab"> Grid View </a>
                                    </li>
                                </ul> -->
							<!-- <ul class="nav customtab nav-tabs" role="tablist">
	                                <li class="nav-item"><a href="#tab1" class="nav-link active"  data-toggle="tab" >List View</a></li>
	                                <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Grid View</a></li>
	                            </ul> -->

							<div class="tab-pane" id="tab2">
								<div class="row">
									<div class="col-md-4">
										<div class="card card-box">
											<div class="card-body no-padding ">
												<div class="doctor-profile">
													<img src="./assets/dashboard/img/doc/doc10.jpg" class="doctor-pic" alt="">
													<div class="profile-usertitle">
														<div class="doctor-name">Cardiology </div>

													</div>
													<div>
														<p>
															<i class="fa fa-phone"></i>
															<a href="tel:(123)456-7890"> (123)456-7890</a>
														</p>
													</div>
													<div class="profile-userbuttons">
														<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">View</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card card-box">
											<div class="card-body no-padding ">
												<div class="doctor-profile">
													<img src="./assets/dashboard/img/doc/doc1.jpg" class="doctor-pic" alt="">
													<div class="profile-usertitle">
														<div class="doctor-name">General surgery </div>

													</div>
													<div>
														<p>
															<i class="fa fa-phone"></i>
															<a href="tel:(123)456-7890"> (123)456-7890</a>
														</p>
													</div>
													<div class="profile-userbuttons">
														<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">View</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="card card-box">
											<div class="card-body no-padding ">
												<div class="doctor-profile">
													<img src="./assets/dashboard/img/doc/doc2.jpg" class="doctor-pic" alt="">
													<div class="profile-usertitle">
														<div class="doctor-name"> Anaesthetics </div>

													</div>
													<div>
														<p>
															<i class="fa fa-phone"></i>
															<a href="tel:(123)456-7890"> (123)456-7890</a>
														</p>
													</div>
													<div class="profile-userbuttons">
														<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">View</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="card card-box">
											<div class="card-body no-padding ">
												<div class="doctor-profile">
													<img src="./assets/dashboard/img/doc/doc3.jpg" class="doctor-pic" alt="">
													<div class="profile-usertitle">
														<div class="doctor-name">Dentist</div>
													</div>
													<div>
														<p>
															<i class="fa fa-phone"></i>
															<a href="tel:(123)456-7890"> (123)456-7890</a>
														</p>
													</div>
													<div class="profile-userbuttons">
														<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">View</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card card-box">
											<div class="card-body no-padding ">
												<div class="doctor-profile">
													<img src="./assets/dashboard/img/doc/doc4.jpg" class="doctor-pic" alt="">
													<div class="profile-usertitle">
														<div class="doctor-name">General Physician</div>
													</div>
													<div>
														<p>
															<i class="fa fa-phone"></i>
															<a href="tel:(123)456-7890"> (123)456-7890</a>
														</p>
													</div>
													<div class="profile-userbuttons">
														<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">View</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card card-box">
											<div class="card-body no-padding ">
												<div class="doctor-profile">
													<img src="./assets/dashboard/img/doc/doc5.jpg" class="doctor-pic" alt="">
													<div class="profile-usertitle">
														<div class="doctor-name">Urology</div>
													</div>
													<div>
														<p>
															<i class="fa fa-phone"></i>
															<a href="tel:(123)456-7890"> (123)456-7890</a>
														</p>
													</div>
													<div class="profile-userbuttons">
														<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">View</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="card card-box">
											<div class="card-body no-padding ">
												<div class="doctor-profile">
													<img src="./assets/dashboard/img/doc/doc6.jpg" class="doctor-pic" alt="">
													<div class="profile-usertitle">
														<div class="doctor-name">Gynaecology</div>
													</div>
													<div>
														<p>
															<i class="fa fa-phone"></i>
															<a href="tel:(123)456-7890"> (123)456-7890</a>
														</p>
													</div>
													<div class="profile-userbuttons">
														<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">View</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card card-box">
											<div class="card-body no-padding ">
												<div class="doctor-profile">
													<img src="./assets/dashboard/img/doc/doc1.jpg" class="doctor-pic" alt="">
													<div class="profile-usertitle">
														<div class="doctor-name">General surgery</div>
													</div>
													<div>
														<p>
															<i class="fa fa-phone"></i>
															<a href="tel:(123)456-7890"> (123)456-7890</a>
														</p>
													</div>
													<div class="profile-userbuttons">
														<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">View</a>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end page content -->
</div>